@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration:none;
    list-style: none;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
}
:root{
    --violeta: rgb(245, 16, 214);
    --azul: #1063F5;
    --gris: #817E81;
    --violeta-claro: #8E728A;
}
html{
    scroll-behavior: smooth;
    height: auto;
}
body{
    font-family: sans-serif;    
    background-color: white;
    overflow-x: hidden;
    /*
    background-color: rgb(220, 220, 220);
    background-color: var(--gris);
    */
}

.modal::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
 
.modal::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: var(--violeta);
}
header{
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .1);
}
@font-face {
  font-family: klein;
  src: url(fuentes/fuente.ttf);
}








.circulo{
    transition: .3s linear;
    border-radius: 5px;
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: green;
    bottom: 50px;
    right: 50px;
    z-index: 45;
    width: 150px;
    height: 200px;
}
.circulo:hover{
    border-radius: 5px;

}
.circulo__cont{
    background-color:blue;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: '.';
}
/*
.circulo__cont{
    width: 0px;
    height: 0px;
    overflow: hidden;
}
*/
.circulo:hover .circulo__cont{
    width: auto;
    height: auto;
}
/************************************/
/*                                  */
/*              HEADER              */
/*                                  */
/************************************/
.header{
    z-index: 50;
}
.nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav_menu{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background-color: rgba(0, 0, 0, .95);
    text-align: center;
    transition: display .5s;
}

.nav_menu__li{
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .05s;

}

.nav_menu__li__a{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.nav_menu__li__i{
    font-size: 1.1em;
}
.nav_menu__li__a.active, 
.nav_menu__li__a:hover{
    color: var(--violeta);
    transition: .3s;
}
.nav_menu__li:hover{
    transition: .5s;
    transform: scale(1.2) !important;
}
.site-logo{
    display: none;
    width:75px;
    margin-left: 20px;   
}
.bar-btn{
    font-size: 25px;
    color: #fff;
    margin-right: 100px;
    cursor: pointer;
}
#check{
    display: none;
}

#check:checked ~ .nav{
    background-color: red;
}
#check:checked ~ .nav_menu{
    height: 100vh;
    background-color: black;
    transition: .5s;
}

#check:checked ~ .nav_menu li{
    display: block;
}


/************************************/
/*                                  */
/*            FIN HEADER            */
/*                                  */
/************************************/
/* 
                                    */
/*                                  
                                    */
/*                                  
                                    */
/*                                  
                                    */
/*                                  
                                    */
/*                                  
                                    */
/*                                  
                                    */
/*                                  
                                    */
/*                                  
                                    */
/************************************/
/*                                  */
/*              BANNER              */
/*                                  */
/************************************/



.home_section{
    width: 100%;
    height: 100vh;
    background-image: url('../imagenes/lucasImg(6).jpg');
    background-repeat:none;
    background-position:center;
    background-size:cover;
    background-position: 0px 0px;
    z-index: -10;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    margin-left: 1em;
    transition: .5s ease-in-out;
}
.logo__img{
    width: 6em;
    height: 6em;
    margin: 2em;
}
.logo__p{        
    font-family: klein;
    color: white;
    padding: .5em 2em;
    border-left: 3px solid white;

}
.logo__p--name{
    font-size: 3em;
    letter-spacing: 4px;
}
.logo__p--ofice{
    font-size: 1em;
    text-shadow: 0px 0px 10px white;
}
.logo__p > .logo__p--ofice::before{
    content: '';
    width: 0px;
    height: 4px;
    position: absolute;
    bottom: -5px;
    background-image: linear-gradient(45deg,  white,rgba(255,255,255, 0));
}
.logo__p:hover .logo__p--ofice{
    position: relative;
}
.logo__p:hover .logo__p--ofice::before{
    transition: .5s ease-in-out width;
    width: 100%; 
}
.logo:hover{
    transform: translateX(2px);
    background-color: rgba(0, 0, 0, .0);
}


@media screen and (max-width: 769px) {
    .logo{
        font-size: 15px;
        margin-left:.5em;
    }
}
@media screen and (max-width: 500px) {

    .logo{
        font-size: 12px;
        margin-left: 0px;
    }
}
/************************************/
/*                                  */
/*              FIN BANNER          */
/*                                  */
/************************************/
/* 
                                    */
/*                                  
                                    */
/*                                  
                                    */
/*                                  
                                    */
/*                                  
                                    */
/*                                  
                                    */
/*                                  
                                    */
/*                                  
                                    */
/*                                  
                                    */
/************************************/
/*                                  */
/*              ABOUT          */
/*                                  */
/************************************/
.about_section{
    width: 100%;
  
    padding:78px 0px;
    background: rgba(30, 30, 30, 1.0);

}
.about_section img{
    height: auto;
    width: 420px;
    filter: drop-shadow(0 0 0.75rem black);
}
.about-text{
    width: 550px;
}
.main{
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

.about-text h1{
    color:  white;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text p{
    color:  white;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: 45px;
}
@media screen and (max-width: 768px) {
    .about-text{
        width: 80%;
    }
    .main{
        flex-direction: column;
    }
    .about_section{
        
    }
    .about_section img{
        height: auto;
        width: 80%;
       
    }
}

/************************************/
/*                                  */
/*              CARRUCEL            */
/*                                  */
/************************************/




.album_section{
    padding:78px 0px;
    width: 100%;
    height: 100vh;
    position: relative;
}
.album_section h1{
    font-size: 70px;
    color:  #323130;
    border-bottom: 3px solid #323130;
    padding: 15px;
    text-transform: capitalize;
    margin: 0 auto 20px 20px;
    width: 50%;
}
.carrusel{
    padding-top: 100px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    overflow-x:scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
}
.carrusel::-webkit-scrollbar {
  height: 0px;
}
 
.carrusel::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 0, 0, 0);
}
 
.carrusel::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.containerImagen{
    width: 300px !important ;
    height: 400px;
    margin: 0 50px;
    filter: drop-shadow(1px 1px 3px black);
}
.containerImagen--add{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.containerImagen__icon{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.containerImagen__icon i{
    text-align: center;
    color: black;
    font-size: 30px ;
}
.carrusel__img{
    background-color: white;;
    border-radius: 20px;
    width: 300px;
    height: 100%;
    transition: 0.3 linaer;
}

.carrusel__img:hover{
    transition: .7s;
    transform: scale(1.1) !important;
}
.img--uptadate{
    opacity: 0;
}


.carrusel__img__description{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    z-index:30;
    background-color: rgba(0, 0, 0, .5);
    transition: .5s;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 15px;
    opacity: 0;
    font-family: klein;

}
.img__description__h3{
    text-align: center;
    font-size: 2em;
    margin: 10px 0px 25px 0px;
    text-transform: uppercase;

    border-bottom: 3px solid white;
}
.img__description__p{

    margin-bottom: auto;
}
.img__description__button{
    width: 50%;
    height: 25px;
    color: white;
    font-size: 1em;
    font-weight: 700;
    margin: 5px auto 25px auto;
    border: 2px solid white;
    border-radius: 50px;
    background-color: transparent;

}
.img__description__button:hover{
    transition: .5s;
    cursor: pointer;
    background-color: white;
    color: black;
}
.carrusel__img__description--active{
    transform: translateY(-101%);
    opacity: 1;
}

.arrow{
    font-size: 4em;
    position: absolute;
    top: 45%;
    z-index: 40;
    user-select: none; 
}
.arrow:hover{
    cursor: pointer;
    transition: .5s linear;
    color: violet;
    transform: scale(1.1);
}
.arrow--left{
    left: 25px;
}
.arrow--right{
    right: 25px;
}


/************************************/
/*                                  */
/*           FIN CARRUCEL           */
/*                                  */
/************************************/
/* 
                                    */
/*                                  
                                    */
/*                                  
                                    */
/*                                  
                                    */
/*                                  
                                    */
/*                                  
                                    */
/*                                  
                                    */
/*                                  
                                    */
/*                                  
                                    */
/************************************/
/*                                  */
/*        RESPONSIVE DESKTOP        */
/*                                  */
/************************************/
@media screen and (min-width: 768px) {
    .site-logo{
        display: block;
        margin-left: 50px;
    }
    
    nav{
        height: 100px;
    }
    .bar-btn{
        display: none;
    }
    .nav_menu{
        position: relative;
        height:100px ;
        top:0;
        background-color:transparent;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }
    .nav_menu li{
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }

    .nav_menu li a{
        font-size: 16px;
    }
    .home_section{
        background-position: 0px -350px;
    }
}

/************************************/
/*                                  */
/*     FIN RESPONSIVE DESKTOP       */
/*                                  */
/************************************/
/* 
                                    */
/*                                  
                                    */
/*                                  
                                    */
/*                                  
                                    */
/*                                  
                                    */
/*                                  
                                    */
/*                                  
                                    */
/*                                  
                                    */
/*                                  
                                    */
/************************************/
/*                                  */
/*        SECTION CONTACT           */
/*                                  */
/************************************/
.contact_section{
    margin-top: 50px;
    width: 100%;
    min-height: 100vh;
    transition: .5s linear;
    padding:78px 0px;
    background: rgba(30, 30, 30, 1.0);

}

.form_box{
    width: 90%;
    height: auto;
    margin: 60px auto 0;
    background: transparent;
    text-align: center;
    padding: 18px;
    transition: .2s linear;
    border: solid 1px rgb(200, 14, 163) ;
    border-radius: 10px; 
    box-shadow: -0px -0px 5px var(--violeta), 3px 3px 10px var(--violeta);
} 
.from__h1{
    color: white;
    border-bottom: 3px solid white;
    padding: 5px 8px;
    margin-top: 1x5px;
    margin-bottom: 25px;
}
.form__input{
    position: relative;
    width: 90%;
    height: 40px;
    padding: 3px 6px;
    border: 2px solid white;
    margin-bottom: 20px;
    background: transparent;
    color: var(--violeta) !important;
    transition: .5s linear;
    border-radius: 15px;
    color: white !important;
}
.form__input--textarea{
    width: 90%;
    height: 100px;
    padding: 3px 6px;
    border: 2px solid white;
    margin-bottom: 20px;
    background: transparent;
    color: var(--violeta) !important;
    transition: .5s linear;
    border-radius: 15px;
    color: white !important;
}
.form__input::placeholder, .form__input--textarea::placeholder{
    color: white;
    padding: 5px;
}
.form__input:focus, .form__input--textarea:focus{
    transform: translate(-2px, 2px);
    box-shadow: 
        0 0 5px white,
        0 0 5px white;
}
.form__input--submit{
    width: 30%;
    font-weight: 800;
}

.form__input--submit:hover{
    cursor: pointer;
    border-radius: 0px;
    border: 4px solid white ;
    
}
@media screen and (min-width: 768px) {
    .form_box{
        width: 40%;
        height:auto;
        margin: 60px auto 0;
    }
    .form__input{
        width: 80%;
        height: 50px;
        padding: 5px 10px;
    }
    .form__input--textarea{
        width: 80%;
        height: 120px;
        padding: 5px 10px;
    }
    .form__input--submit{
        width: 30%;
        font-weight: 800;
    }
}
/*
.contact_section{
    width: 100%;
    height: 100vh;
    transition: .5s linear;
    padding:78px 0px;
    background-color:black;
}

.form_box{
    width: 40%;
    height: auto;
    margin: 60px auto 0;
    background: transparent;
    text-align: center;
    padding: 35px;
    transition: .2s linear;
    border: solid 2px white;
    border-radius: 10px; 
} 
.from__h1{
    color: white;
    border-bottom: 3px solid white;
    padding: 5px 80px;
    margin-bottom: 25px;
}
.form__input{
    width: 80%;
    height: 50px;
    padding: 5px 10px;
    border: 2px solid white;
    margin-bottom: 20px;
    background: transparent;
    color: var(--violeta) !important;
    transition: .5s linear;
    border-radius: 15px;
    color: white !important;
}
.form__input--textarea{
    width: 80%;
    height: 100px;
    padding: 5px 10px;
    border: 2px solid white;
    margin-bottom: 20px;
    background: transparent;
    color: var(--violeta) !important;
    transition: .1s linear;
    border-radius: 15px;
    color: white !important;
}
.form__input::placeholder, .form__input--textarea::placeholder{
    font-size: .8em;
    color: rgba(240, 240, 240, 1.0);
    padding: 5px;
}
.form__input:focus, .form__input--textarea:focus{
    transform: translate(-2px, 2px);
    box-shadow: 
        0 0 5px white,
        0 0 5px white;
}
.form__input--submit{
    width: 30%;
    font-weight: 800;
}

.form__input--submit:hover{
    cursor: pointer;
    border-radius: 0px;
    border: 4px solid white ;
    
}
*/

/************************************/
/*                                  */
/*     FIN SECTION CONTACT          */
/*                                  */
/************************************/
/* 
                                    */
/*                                  
                                    */
/*                                  
                                    */
/*                                  
                                    */
/*                                  
                                    */
/*                                  
                                    */
/*                                  
                                    */
/*                                  
                                    */
/*                                  
                                    */
/************************************/
/*                                  */
/*           MODAL STYLE            */
/*                                  */
/************************************/


.cont{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .6);
    display: none; /*cambiar a none*/
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 60;
}
.cont--active{
    display: flex;
}
.cont__exit{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: red;
    z-index: 70;
}
.cont__exit i {
    background-color: white;
    font-size: 20px;
}
.modal{
    width: 90%;
    max-height:95%;
    padding: 20px 0px;
    overflow-y: auto;
    background-color: rgba(220, 220, 220, .2);
    font-size: 16px;
}
.cont--active--form .modal{
    width: 60%;
    padding: 0px 0px;
}
.modal__header{
    width: 80%;
    padding: 25px 20px;
    margin: 10px 50px;
    background-color: rgba(245, 245, 245, 1.0);
}
.cont--active--form .modal__header{
    width: 100%;
    margin: 0px auto;
}
.modal__header__h1,
.modal__header__span,
.modal__header__p{
    font-family: 'Roboto', sans-serif;
}
.modal__header__h1{
    color:  rgba(80, 80, 80, 1.0);
    margin-bottom: 10px;
    border-bottom: 2px solid rgba(160, 160, 160, 1.0);
}

.modal__header__span{
    font-size: .45em;
    margin-left: 5px;
    font-weight: 400;
    color:  rgba(150, 150, 150, 1.0);;
}
.modal__header__p{
    color:  rgba(100, 100, 100, 1.0);;
}
.modal__body{
    background-color: transparent;
    margin: 20px 15px;
}
.animation--bottom{
    transition: 1s ease;
    position: relative;
    bottom: -150px;
    opacity: 0;
}
.active{
    opacity: 100%;
    transform:translateY(-150px);
}

/************************************/
/*                                  */
/*            FIN PROCESO           */
/*                                  */
/************************************/






.animation--bottom{

}